body{
    background: url("image.jpg");
    background-repeat: no-repeat; background-size: cover;
}

a:hover{color: red; 
}

table:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease;
}
table {
    background: rgba(255, 255, 255, 0.6); /* semi-transparent dark background */
    color: #030303;
    border: 2px solid #000000;
    border-collapse: collapse;
    border-radius: 20px;
    overflow:hidden;
}

